* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.margin-b{
    margin-bottom: 20px;
}

body{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* header */

.header-top{
    height: 80px;
    /* background-color: rgb(203, 113, 255);  */
}

#logo{
    width: 100px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: rgb(180, 180, 180);
    padding-right: 5px;
}

nav li{
    list-style: none;
    float: left;
    margin-right: 20px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: gray;
}

a:hover{
    color: rgb(68, 68, 68);
    text-decoration: underline;
}



.jumbo{
    height: 350px;
    /* background-color: rgb(255, 228, 139); */
    background-image: url(../img/banner.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position:center;
   }

.overlay{
    height: 350px;
    background: rgba(140, 0, 168, 0.164);
    margin: 0 auto;
    border-radius: 10px;
    }

.overlay h2{
    width: 60%;
    font-family: Helvetica;
    font-weight: lighter;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    text-align: left;
    padding-top: 200px;
    line-height: 130%;  
} 

.overlay p{
    width: 60%;
    font-family: Helvetica;
    font-weight: lighter;
    color: white;
    font-size: 15px;
    padding-left: 40px;
    text-align: left;
    margin-top: 8px;
    
}

/* main */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    padding-bottom: 20px;
}

.titolo{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7px;
}

.titolo p{
    font-size: 12px;
    color: gray;
}

.overlay-left{
    height: 140px;
    background: rgba(140, 0, 168, 0.164);
    margin: 0 auto;
    border-radius: 10px;
    }


.side-left{
    width: 19%;
    float: left;
    margin-right: 2%;
    background-image: url(../img/img-1.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
     
}

.side-left h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.side-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}

.overlay-main{
    height: 140px;
    background: rgba(140, 0, 168, 0.164);
    margin: 0 auto;
    border-radius: 10px;
    }

.main-content{
    width: 58%;
    float: left;
    border-radius: 10px;
    background-image: url(../img/banner-2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
    background-position: center;
}

.main-content h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.main-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}

.side-right{
    width: 19%;
    float: left;
    margin-left: 2%;
    border-radius: 10px;
}


/* footer */

.footer{
    height: 80px;
    background-color: rgb(133, 52, 180);
}



/* ****** debug ****** */

.debug{
    background-color: blue;
    
}

.debug .titolo{
    height: 60px;
    background-color: rgb(145, 189, 255);
}

.debug .side-left{
    height: 460px;
    background-color: rgb(145, 189, 255);
}

.debug .main-content{
    height: 460px;
    background-color: rgb(145, 189, 255);
}

.debug .side-right{
    height: 460px;
    background-color: rgb(145, 189, 255);
}